* {
  margin: 0;
  padding: 0;
}

#background-div {
  background-image: url(https://afar-production.imgix.net/uploads/itineraries/images/the-great-smoky-mountains-and-beyond-the-best-of-east-tennessee/original_Tennessee_Eastern_Listing.jpg?1567965538?ixlib=rails-0.3.0&auto=format%2Ccompress&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.section-item {
  text-align: center;
  border-bottom: 1px groove rgba(68, 15, 129, 0.445);
  border-bottom-width: 4px;
  width: 70em;
}

.section-header {
  color: white;
  opacity: 100%;
}

.navbar-elem {
  position: sticky;
  top: 0;
}

.img-sizing {
  width: 30em;
  height: 400px;
  opacity: 100%;
}

.p-text {
  color: white;
}

.p-container {
  border: 1px solid red;
  opacity: 100%;
  width: 70em;
}
